.cachorro img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.cachorro {
  height: 450px;
  width: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.349);
}

.cachorro_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  padding: 0 20px;
}

.cachorro_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 320px;
}

.cachorro_buttons button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: #527BA5;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.cachorro_buttons button:hover {
  background-color: #527ba58f;
  color: white;
}